<blockquote>
  <p>
    This is a really small cinema!
  </p>

  <p>
    Let users pick seats and count them in <i>selected</i> counter.
  </p>

  <p>
    Hide seats and show the final cost after user clicks <i>buy</i> button.
  </p>
</blockquote>

<h3>
  Choose your seats
</h3>

<section class="cinema">
  <button *ngFor="let seat of seats; trackBy: trackByFn" class="seat" (click)="selectSeat(seat)" [class.selected]="isSelected(seat)">{{seat}}</button>
</section>

Selected: {{selectedSeats$ | async}}

<button class="buy" (click)="buyTickets()">
  Buy
</button>

<section *ngIf="showFinalCosts" class="final-cost">
  Final cost is $ {{finalCost | async}}
</section>
